name: accounting-api

services:
  homebudget-accounting-api:
    image: allmantool/homebudget-accounting-api:${ACCOUNTING_API_IMAGE_V}
    container_name: homebudget-accounting-api
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ASPNETCORE_URLS=http://+:80
      - OTEL_SERVICE_NAME=homebudget-accounting-api
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://gf-alloy:4317
      - OTEL_EXPORTER_OTLP_PROTOCOL=grpc
    ports:
      - "5307:80"
      - "5308:443"
    volumes:
      # - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      # - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
      - ${ACCOUNTING_API_JSON_PATH}:/app/appsettings.json:ro
    networks:
      - seq-network
      - redis-network
      - mongo-network
      - accounting-api-network
      - ui-network
      - kafka-net
      - event-store-db-net
      - mssql-network
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
        max_attempts: 10
        delay: 5s
        window: 180s
      resources:
        limits:
          cpus: "3"
          memory: "1g"
    depends_on:
      kafka:
        condition: service_healthy
      event-store-db:
        condition: service_healthy
      shared-mongo-db:
        condition: service_healthy
      homebudget-sql-server:
        condition: service_healthy

  homebudget-accounting-payments-consumer-worker:
    image: allmantool/homebudget-accounting-payments-consumer-worker:${ACCOUNTING_PAYMENTS_CONSUMER_WORKER_IMAGE_V}
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ASPNETCORE_URLS=http://+:80
      - PROMETHEUS__ENABLED=true
      - PROMETHEUS__SCRAPE_ENDPOINT=/metrics
    expose:
      - "80"
    volumes:
      # - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      # - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
      - ${ACCOUNTING_PAYMENTS_CONSUMER_WORKER_JSON_PATH}:/app/appsettings.json:ro
    networks:
      - seq-network
      - mongo-network
      - mssql-network
      - accounting-api-network
      - ui-network
      - kafka-net
      - event-store-db-net
    deploy:
      replicas: ${PAYMENT_CONSUMERS_AMOUNT}
      restart_policy:
        condition: on-failure
        max_attempts: 100
        delay: 15s
        window: 1800s
      resources:
        limits:
          cpus: "2"
          memory: "512m"
    depends_on:
      kafka:
        condition: service_healthy
      event-store-db:
        condition: service_healthy
      shared-mongo-db:
        condition: service_healthy
      homebudget-sql-server:
        condition: service_healthy
