name: db
services:
  event-store-db:
    image: eventstore/eventstore:24.10.9-jammy
    container_name: event-store-db
    environment:
      - EVENTSTORE_INSECURE=true
      - EVENTSTORE_HTTP_PORT=2113
      - EVENTSTORE_ENABLE_ATOM_PUB_OVER_HTTP=true
      - EVENTSTORE_CLUSTER_SIZE=1
      - EVENTSTORE_RUN_PROJECTIONS=All
      - EVENTSTORE_START_STANDARD_PROJECTIONS=true
      - EVENTSTORE_COMMIT_TIMEOUT_MS=60000
      - EVENTSTORE_WRITE_TIMEOUT_MS=60000
      - EVENTSTORE_DISABLE_HTTP_CACHING=true
      - EVENTSTORE_MAX_MEM_TABLE_SIZE=100000
      - EVENTSTORE_CACHED_CHUNKS=512
      - EVENTSTORE_MIN_FLUSH_DELAY_MS=2000
      - EVENTSTORE_STATS_PERIOD_SEC=60
      - EVENTSTORE_SKIP_DB_VERIFY=true
    ports:
      - "1113:1113"
      - "2113:2113"
    volumes:
      # - ${EVENT_DB_VOLUME_PATH}:/var/lib/eventstore
      # - ${EVENT_DB_LOG_PATH}:/var/log/eventstore
      - event-store-db-data:/var/lib/eventstore
      - event-store-db-logs:/var/log/eventstore
    networks:
      - event-store-db-net
      - shared-monitoring-net
    logging:
      driver: gelf
      options:
        gelf-address: "udp://127.0.0.1:12201"
        tag: "eventstore"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:2113/health/live"]
      interval: 30s
      timeout: 15s
      retries: 15
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 10
        delay: 25s
        window: 180s
      resources:
        limits:
          cpus: "3"
          memory: "2g"

  kafka:
    image: confluentinc/cp-kafka:8.1.1
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_KRAFT_MODE: "true"
      KAFKA_NODE_ID: 1
      CLUSTER_ID: "5Y7pZQq4Td6Jv4n3z2Z8Zg"
      KAFKA_PROCESS_ROLES: >
        broker,
        controller
      KAFKA_LISTENERS: >
        PLAINTEXT://0.0.0.0:29092,
        CONTROLLER://0.0.0.0:29093,
        PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: >
        PLAINTEXT://kafka:29092,
        PLAINTEXT_HOST://${HOME_SERVER}:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: >
        PLAINTEXT:PLAINTEXT,
        PLAINTEXT_HOST:PLAINTEXT,
        CONTROLLER:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:29093"
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER

      KAFKA_NUM_PARTITIONS: 3
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0

      KAFKA_SOCKET_SEND_BUFFER_BYTES: 1048576
      KAFKA_SOCKET_RECEIVE_BUFFER_BYTES: 1048576
      KAFKA_SOCKET_REQUEST_MAX_BYTES: 104857600
      KAFKA_NUM_NETWORK_THREADS: 4
      KAFKA_NUM_IO_THREADS: 8
      KAFKA_DEFAULT_REPLICATION_FACTOR: 1

      KAFKA_HEAP_OPTS: "-Xms1.5G -Xmx1.5G"
      KAFKA_JVM_PERFORMANCE_OPTS: >
        -XX:+UseG1GC
        -XX:MaxGCPauseMillis=50
        -XX:InitiatingHeapOccupancyPercent=30
        -XX:+DisableExplicitGC
      KAFKA_JMX_PORT: 9997
      KAFKA_JMX_HOSTNAME: kafka

      KAFKA_LOG_RETENTION_BYTES: 1073741824
      KAFKA_LOG_SEGMENT_BYTES: 1073741824
      KAFKA_LOG_RETENTION_HOURS: 72
      KAFKA_LOG_FLUSH_INTERVAL_MESSAGES: 10000
      KAFKA_LOG_FLUSH_INTERVAL_MS: 1000

      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "false"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_OFFSETS_TOPIC_NUM_PARTITIONS: 30
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_LOG_CLEANUP_POLICY: delete
      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs
    user: "0" # Run as root temporarily to fix permissions
    networks:
      - kafka-net
      - shared-monitoring-net
    volumes:
      # - ${KAFKA_STORE}/data:/var/lib/kafka/data:Z
      - kafka-data:/var/lib/kafka/data:Z
    healthcheck:
      test:
        [
          "CMD",
          "kafka-broker-api-versions",
          "--bootstrap-server",
          "127.0.0.1:9092",
        ]
      interval: 60s
      timeout: 30s
      retries: 15
      start_period: 160s
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 100
        delay: 25s
        window: 1800s
      resources:
        limits:
          cpus: "3"
          memory: "5g"
        reservations:
          cpus: "2"
          memory: "3g"
    command:
      - bash
      - -c
      - |
        chown -R appuser:appuser /var/lib/kafka/data
        exec /etc/confluent/docker/run

  kafka-init:
    image: confluentinc/cp-kafka:8.1.1
    container_name: kafka-init
    depends_on:
      kafka:
        condition: service_healthy
    environment:
      PAYMENT_CONSUMERS_AMOUNT: ${PAYMENT_CONSUMERS_AMOUNT:-1}
    volumes:
      - ${KAFKA_INIT_SCRIPT_PATH}:/tmp/kafka-init.sh
    entrypoint: ["/bin/bash", "/tmp/kafka-init.sh"]
    restart: no
    networks:
      - kafka-net

  shared-mongo-db:
    image: mongo:7.0.28-jammy
    container_name: shared-mongo-db
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=mongoadmin
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_DB_PASSWORD}
      - MONGO_INITDB_DATABASE=admin
    ports:
      - "27017:27017"
    command:
      - "--wiredTigerCacheSizeGB=2"
      - "--journalCommitInterval=100"
    volumes:
      # - ${MONGO_DB_VOLUME_PATH}:/data/db
      - mongo-db-data:/data/db
    networks:
      - mongo-network
      - shared-monitoring-net
    healthcheck:
      test: >
        echo 'db.runCommand({ping:1}).ok' | mongosh 
        --host localhost 
        -u mongoadmin
        -p ${MONGO_DB_PASSWORD} 
        --authenticationDatabase admin 
        --quiet
      interval: 45s
      timeout: 20s
      retries: 10
      start_period: 30s
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 10
        delay: 25s
        window: 180s
      resources:
        limits:
          cpus: "2"
          memory: "4g"
        reservations:
          cpus: "1"
          memory: "2g"

  mssql-volume-init:
    image: alpine:3.23
    container_name: mssql-volume-init
    user: root
    restart: "no"
    volumes:
      - ms-sql-data:/var/opt/mssql/data
      - ms-sql-logs:/var/opt/mssql/log
      - ms-sql-tempdb:/var/opt/mssql/tempdb
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        echo "Starting SQL volume init..."
        chown -R 10001:0 /var/opt/mssql/data /var/opt/mssql/log /var/opt/mssql/tempdb
        chmod -R 770 /var/opt/mssql/data /var/opt/mssql/log /var/opt/mssql/tempdb
        echo "SQL volumes initialized"
    labels:
      role: "volume-initializer"

  # SQL 2025 is not stable with WSL Linux docker on Dec 2025 ---> reverted to use 2022
  homebudget-sql-server:
    image: "mcr.microsoft.com/mssql/server:${SQL_WMS_2022_VERSION}"
    container_name: homebudget-sql-server
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: ${SQL_PASSWORD}
      # MSSQL_PID: "Developer"
      MSSQL_AGENT_ENABLED: "false"
      MSSQL_MEMORY_LIMIT_MB: 12288
    ports:
      - "${SQL_SERVER_2022_PORT}:1433"
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - ${SQL_WMS_VOLUME_2022_PATH_BACKUPS}:/var/opt/mssql/data/backups
      - ms-sql-data:/var/opt/mssql/data
      - ms-sql-logs:/var/opt/mssql/log
      - ms-sql-tempdb:/var/opt/mssql/tempdb
      # - ${SQL_WMS_VOLUME_2022_PATH}:/var/opt/mssql/data
      # - ${SQL_WMS_VOLUME_2022_PATH_SYSTEM}:/var/opt/mssql/system
    networks:
      - mssql-network
      - rates-api-network
      - shared-monitoring-net
    depends_on:
      mssql-volume-init:
        condition: service_completed_successfully
    healthcheck:
      test:
        [
          "CMD-SHELL",
          '/opt/mssql-tools18/bin/sqlcmd -S 127.0.0.1 -U SA -P "${SQL_PASSWORD}" -Q "SELECT @@VERSION;" -C -l 30 || exit 1',
        ]
      interval: 30s
      timeout: 20s
      retries: 15
      start_period: 160s
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 100
        delay: 15s
        window: 360s
      resources:
        limits:
          cpus: "4"
          memory: "13g"
        reservations:
          cpus: "2"
          memory: "8g"
