auth_enabled: false

server:
  http_listen_port: 3200
  grpc_listen_port: 9095

ingester:
  lifecycler:
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1

storage:
  trace:
    backend: local
    local:
      path: /var/tempo/traces
    wal:
      path: /var/tempo/wal

metrics_generator:
  ring:
    kvstore:
      store: inmemory
  processor:
    service_graphs: {}
    span_metrics: {}
  storage:
    path: /var/tempo/metrics

overrides:
  defaults:
    metrics_generator:
      processors: [service-graphs, span-metrics]
