name: gateway-api
services:
  gateway-api:
    image: allmantool/homebudget-backend-gateway:${GATEWAY_API_IMAGE_V}
    container_name: gateway-api
    build:
      context: .\..\..\Gateways\HomeBudget-Backend-Gateway\
      dockerfile: dockerfile
      args:
        - SONAR_TOKEN=${SONAR_TOKEN}
        - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
        - GITHUB_RUN_ID=${GITHUB_RUN_ID}
        - PULL_REQUEST_ID=${PULL_REQUEST_ID}
        - PULL_REQUEST_SOURCE_BRANCH=${PULL_REQUEST_SOURCE_BRANCH}
        - PULL_REQUEST_TARGET_BRANCH=${PULL_REQUEST_TARGET_BRANCH}
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ASPNETCORE_URLS=https://+:7398
    ports:
      - "7398:7398"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
      - ${GATEWAY_API_JSON_PATH}:/app/appsettings.json:ro
      - ${GATEWAY_API_OCELOT_PATH}:/app/ocelot.json:ro
      - ${GATEWAY_API_CERTIFICATE_PATH}:/app/hbudgetcert.pfx:ro
    networks:
      - rates-api-network
      - accounting-api-network
      - ui-network
      # - elastic-network
      - seq-network
      - redis-network
    depends_on:
      - homebudget-ui
      - homebudget-accounting-api
      - homebudget-rates-api
