name: gateway-api
services:
  gateway-api:
    image: allmantool/homebudget-backend-gateway:${GATEWAY_API_IMAGE_V}
    container_name: gateway-api
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      # - ASPNETCORE_URLS=https://+:7398
      # - ASPNETCORE_Kestrel__Certificates__Default__Path=/app/${GATEWAY_API_CERTIFICATE_NAME}
      # - ASPNETCORE_Kestrel__Certificates__Default__Password=${GATEWAY_API_CERTIFICATE_PASSWORD}
    ports:
      - "7398:7398"
    expose:
      - "80"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
      - ${GATEWAY_API_JSON_PATH}:/app/appsettings.json:ro
      - ${GATEWAY_API_OCELOT_PATH}:/app/ocelot.json:ro
      - ${GATEWAY_API_CERTIFICATE_PATH}:/app/${GATEWAY_API_CERTIFICATE_NAME}:ro
    networks:
      - rates-api-network
      - accounting-api-network
      - ui-network
      # - elastic-network
      - seq-network
      - redis-network
    depends_on:
      - homebudget-ui
      - homebudget-accounting-api
      - homebudget-rates-api
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 10
        delay: 25s
        window: 180s
      resources:
        limits:
          cpus: "1"
          memory: "256M"
