global:
  scrape_timeout: 10s
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "apis"
    metrics_path: /metrics
    static_configs:
      - targets: ["homebudget-rates-api:80", "homebudget-accounting-api:80"]
        labels:
          component: api

  - job_name: "mongodb"
    static_configs:
      - targets: ["mongo-db-exporter:9216"]
        labels:
          component: mongodb

  - job_name: "mssql"
    scrape_interval: 60s
    scrape_timeout: 20s
    static_configs:
      - targets: ["mssql-exporter:4000"]
        labels:
          component: mssql

  - job_name: "redis"
    static_configs:
      - targets: ["redis-exporter:9121"]
        labels:
          component: redis

  - job_name: "nginx"
    static_configs:
      - targets: ["nginx-exporter:9113"]
        labels:
          component: nginx

  - job_name: "kafka"
    scrape_interval: 20s
    static_configs:
      - targets: ["kafka-exporter:9308"]
        labels:
          component: kafka

  - job_name: "eventstoredb"
    static_configs:
      - targets: ["event-store-db-exporter:9448"]
        labels:
          component: eventstoredb

  - job_name: "node-exporter"
    static_configs:
      - targets: ["node-exporter:9100"]
        labels:
          component: node

