auth_enabled: false

server:
  http_listen_port: 3100
  log_level: info

common:
  instance_addr: 127.0.0.1
  path_prefix: /tmp/loki
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory
  storage:
    filesystem:
      chunks_directory: /tmp/loki/chunks
      rules_directory: /tmp/loki/rules

schema_config:
  configs:
    - from: 2024-01-01
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

storage_config:
  filesystem:
    directory: /tmp/loki/chunks

ingester:
  lifecycler:
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1
  chunk_idle_period: 30m
  chunk_retain_period: 1m
  max_chunk_age: 2h
  chunk_block_size: 262144

limits_config:
  retention_period: 24h

  ingestion_rate_mb: 16
  ingestion_burst_size_mb: 32

  max_streams_per_user: 0
  max_global_streams_per_user: 0

  reject_old_samples: true
  reject_old_samples_max_age: 168h

  allow_structured_metadata: true

compactor:
  working_directory: /tmp/loki/compactor
  compaction_interval: 10m
  retention_enabled: true
  delete_request_store: filesystem

query_range:
  align_queries_with_step: true
  cache_results: true

frontend:
  log_queries_longer_than: 5s

ruler:
  storage:
    type: local
    local:
      directory: /tmp/loki/rules
  rule_path: /tmp/loki/rules-temp
