name: logging
services:
  # kibana:
  #   image: kibana:8.17.4
  #   container_name: homebudget-kibana
  #   ports:
  #     - 5601:5601
  #   environment:
  #     - ELASTICSEARCH_HOSTS=http://elasticsearch:9200  # Use internal port 9200
  #     - XPACK_MONITORING_ENABLED=false
  #     - XPACK_SECURITY_ENABLED=false
  #     # Increase migration timeouts
  #     - ELASTICSEARCH_REQUEST_TIMEOUT=120000
  #     - ELASTICSEARCH_PING_TIMEOUT=120000
  #   networks:
  #   - elastic-network
  #   depends_on:
  #     elasticsearch:
  #       condition: service_healthy
  #   healthcheck:
  #     test: ["CMD", "wget", "-q", "--spider", "http://localhost:5601/api/status"]
  #     interval: 10s
  #     timeout: 10s
  #     retries: 30
  #   deploy:
  #     restart_policy:
  #       condition: on-failure
  #       max_attempts: 10
  #       delay: 25s
  #       window: 180s
  #     resources:
  #       limits:
  #         cpus: "1"
  #         memory: "1g"

  # elasticsearch:
  #   image: elasticsearch:8.17.4
  #   container_name: homebudget-elasticsearch
  #   ports:
  #     - 9250:9200
  #   volumes:
  #     - ${ELASTIC_VOLUME_PATH}:/usr/share/elasticsearch/data
  #   environment:
  #     - xpack.security.enabled=false
  #     - discovery.type=single-node
  #     - ES_JAVA_OPTS=-Xms2g -Xmx2g  # Align with container memory (2GB)
  #   networks:
  #     - elastic-network
  #   healthcheck:
  #     test: ["CMD", "wget", "-q", "--spider", "http://localhost:9250/_cluster/health"]
  #     interval: 10s
  #     timeout: 10s
  #     retries: 30
  #   deploy:
  #     restart_policy:
  #       condition: on-failure
  #       max_attempts: 10
  #       delay: 5s
  #       window: 180s
  #     resources:
  #       limits:
  #         cpus: "2"
  #         memory: "2g"

  seq-input-gelf:
    image: datalust/seq-input-gelf:3
    container_name: seq-input-gelf
    restart: always
    networks:
      - shared-monitoring-net
    environment:
      - SEQ_ADDRESS=http://logging-seq:5341
    ports:
      - "12201:12201/udp"

  seq:
    image: datalust/seq:2025.2
    container_name: logging-seq
    ports:
      - 5341:80
      - 5342:5341
    init: true
    environment:
      - ACCEPT_EULA=${SEQ_DEFAULT_USER}
      - SEQ_FIRSTRUN_ADMINPASSWORD=${SEQ_DEFAULT_PASSWORD}
      - SEQ_API_TIMEOUT=00:05:00
      - SEQ_DISABLE_MEMORY_CACHING=false
      - SEQ_STORAGE_BUFFER_SIZE=512
      - SEQ_RETENTION_SPACE_QUOTA=20GB
      - SEQ_RETENTION_EVENT_AGE=2.00:00:00
      - SEQ_STORAGE_COMPACT_INTERVAL=02:00:00
      - SEQ_CACHE_COMPACTION_INTERVAL=01:00:00
      - SEQ_METRICS_INTERVAL=00:01:00
      - SEQ_METRICS_ENDPOINTS=http://prometheus:9090
      - SEQ_BASE_URI=/
    networks:
      - seq-network
      - shared-monitoring-net
    volumes:
      # - ${SEQ_VOLUME_PATH}:/data
      - seq-data:/data
    healthcheck:
      test: ["CMD", "wget", "-q", "--spider", "http://localhost:80/api/health"]
      interval: 30s
      timeout: 20s
      retries: 15
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 10
        delay: 10s
        window: 180s
      resources:
        limits:
          cpus: "2"
          memory: 6g
        reservations:
          cpus: "1"
          memory: 2g
