name: logging
services:
  # kibana:
  #   image: kibana:8.17.4
  #   container_name: homebudget-kibana
  #   ports:
  #     - 5601:5601
  #   environment:
  #     - ELASTICSEARCH_URL=http://elasticsearch:9250
  #   networks:
  #     - elastic-network
  #   depends_on:
  #     - elasticsearch

  # elasticsearch:
  #   image: elasticsearch:8.17.4
  #   container_name: homebudget-elasticsearch
  #   ports:
  #     - 9250:9200
  #   volumes:
  #     - ${ELASTIC_VOLUME_PATH}:/usr/share/elasticsearch/data
  #   environment:
  #     - xpack.watcher.enabled=false
  #     - xpack.security.enabled=false
  #     - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
  #     - discovery.type=single-node
  #   networks:
  #     - elastic-network

  # filebeat:
  #   image: elastic/filebeat:8.17.4
  #   container_name: homebudget-filebeat
  #   ports:
  #     - 9350:80
  #   volumes:
  #     - ${ELK_FILEBEAT_CONFIG}:/usr/share/filebeat/filebeat.yml:ro
  #     - /var/lib/docker/containers:/var/lib/docker/containers:ro
  #     - /var/run/docker.sock:/var/run/docker.sock:ro
  #     - registry:/usr/share/filebeat/data:rw
  #   networks:
  #     - elastic-network

  seq-input-gelf:
    image: datalust/seq-input-gelf:3
    container_name: seq-input-gelf
    restart: always
    networks:
      - shared-monitoring-net
    environment:
      - SEQ_ADDRESS=http://logging-seq:5341
    ports:
      - "12201:12201/udp"

  seq:
    image: datalust/seq:2025.2
    container_name: logging-seq
    ports:
      - 5341:80
      - 5342:5341
    expose:
      - "80"
    init: true
    environment:
      - ACCEPT_EULA=${SEQ_DEFAULT_USER}
      - SEQ_FIRSTRUN_ADMINPASSWORD=${SEQ_DEFAULT_PASSWORD}
      - SEQ_API_TIMEOUT=00:05:00
      - SEQ_DISABLE_MEMORY_CACHING=false
      - SEQ_STORAGE_BUFFER_SIZE=512
      - SEQ_RETENTION_SPACE_QUOTA=20GB
      - SEQ_RETENTION_EVENT_AGE=3.00:00:00
      - SEQ_STORAGE_COMPACT_INTERVAL=02:00:00
      - SEQ_CACHE_COMPACTION_INTERVAL=01:00:00
      - SEQ_METRICS_INTERVAL=00:01:00
      - SEQ_METRICS_ENDPOINTS=http://prometheus:9090
    networks:
      - seq-network
      - shared-monitoring-net
    volumes:
      # - ${SEQ_VOLUME_PATH}:/data
      - seq-data:/data
