include:
  - Infrastructure/Deploy/docker-compose.networks.deploy.yaml
  - Infrastructure/Deploy/docker-compose.volumes.deploy.yaml
  - Infrastructure/Deploy/docker-compose.monitoring.deploy.yaml
  - Infrastructure/Deploy/docker-compose.logging.deploy.yaml
  - Db/Deploy/docker-compose.db.deploy.yaml
  - Api/Deploy/docker-compose.rates.deploy.yaml
  - Api/Deploy/docker-compose.accounting.deploy.yaml
  - UI/Deploy/docker-compose.ui.deploy.yaml
  - Gateway/Deploy/docker-compose.api.gateway.deploy.yaml

name: home-budget
services:
  kafka-ui:
    container_name: kafka-ui
    image: provectuslabs/kafka-ui:v0.7.2
    ports:
      - 8082:8080
    environment:
      DYNAMIC_CONFIG_ENABLED: true
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
      SERVER_SERVLET_CONTEXT_PATH: /
      SPRING_WEBFLUX_BASE_PATH: /
    networks:
      - kafka-net
      - ui-network
    depends_on:
      - kafka
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 10
        delay: 25s
        window: 180s
      resources:
        limits:
          cpus: "1"
          memory: "512m"

  flyway:
    image: flyway/flyway:12.0.0
    container_name: homebudget-flyway-migration
    command: >
      -baselineOnMigrate=true
      -mixed=true
      -connectRetries=30
      -connectRetriesInterval=10
      migrate
    environment:
      FLYWAY_USER: sa
      FLYWAY_PASSWORD: ${SQL_PASSWORD}
      FLYWAY_URL: jdbc:sqlserver://homebudget-sql-server:${SQL_SERVER_2022_PORT};encrypt=false;trustServerCertificate=true;
    volumes:
      - ${FLYWAY_SCRIPTS_PATH}:/flyway/sql
      - ${FLYWAY_CONFIG_PATH}:/flyway/conf
    networks:
      - mssql-network
    depends_on:
      homebudget-sql-server:
        condition: service_healthy
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 10
        delay: 25s
        window: 180s
      resources:
        limits:
          cpus: "1"
          memory: "128m"

  redis_server:
    image: redis:8.4.0
    container_name: homebudget-cache
    ports:
      - "6379:6379"
    networks:
      - redis-network
    depends_on:
      - ${SQL_SERVER}
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 10
        delay: 25s
        window: 180s
      resources:
        limits:
          cpus: "1"
          memory: "512m"
